body {
    color: floralwhite;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-color: #2c2f33;
    user-select: none;
}


/* *{
  border: 5px solid black;
} */

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 92vw;
    height: 90vh;
}

.content {
    width: 90%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    font-size: 30px;
    padding: 30px;
}

.content h1,
.content p,
.content h5 {
    margin: 10px;
}


/* .content p{

  font-weight: normal;
} */

.option {
    width: 40vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.option button {
    width: 75%;
    height: 60px;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
    background-color: chartreuse;
    font-size: 20px;
    font-weight: bolder;
}