{% extends 'base.html' %}
{% block content %}

<section style="background-color: transparent;">
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-4">
          <div class="card bg-transparent text-white mb-4">
            <div class="card-body text-center">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3" id="username" >John Smith</h5>
              <p class="text-muted mb-4" id="useremail">Full Stack Developer</p>
              <div class="d-flex justify-content-center mb-2">
                <a type="button" href="/myitems" class="btn btn-primary">Your Items</a>
                <a type="button" href="/updateprofile"class="btn btn-outline-primary ms-1">Update Profile</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card bg-transparent text-white mb-4">
            <div class="card-title"><h4 class="text-center">Your Informations</h4></div>
            <div class="card-body" id = "user-data">
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      function createChild(key, value)
      {
        let div = document.createElement('div')
        div.innerHTML = `
        <div class="col-sm-3">
                  <p class="mb-0">${key}</p>
                </div>
                <div class="col-sm-9">
                  <p class="mb-0">${value}</p>
        </div>
        `
        div.setAttribute('class', 'row');
        document.getElementById('user-data').append(div)
      }

      
      document.addEventListener("DOMContentLoaded", function(event) {
        fetch("/api/user/get_info", {
          method: "GET",
          headers: {
            "Content-Type": "application/json",
          }
        })
          .then(function (response) {
            return response.json();
          })
          .then(function (data) {
            document.getElementById('username').innerText = data.message.Name
            document.getElementById('useremail').innerText = data.message.Email_Id
            createChild('Name', data.message.Name);
            document.getElementById('user-data').append(document.createElement('hr'))
            createChild('Email', data.message.Email_Id);
            data.message.Mobile_Number.forEach(element => {
              document.getElementById('user-data').append(document.createElement('hr'))
              createChild('Mobile', element.Mobile_Number);
            });
            data.message.Address.forEach(element => {
              document.getElementById('user-data').append(document.createElement('hr'))
              let addressText = `${element.House_No}, ${element.Street}, ${element.City}, ${element.Country}, Pincode-${element.PinCode}`
              createChild('Address', addressText);
            });
            

            // if (data.message == "success") {
            //   next_url = document.getElementById('next_url').value;
            //   window.location.href = next_url;
            // } else {
            //   document.getElementById("error").innerHTML =
            //     "Invalid email or password";
            // }
          })
          .catch(function (error) {
            console.log(error);
          });
      // Your code to run since DOM is loaded and ready
      }); 
    </script>
  </section>

{% endblock %}