<div class="container">
  <div class="row justify-content-center">
    <div class=" bg-transparent text-white col-md-10 m-2">
      <div class=" container">
        <div class="row justify-content-center">
          <h4 class="col-md-5  text-center">
            Add New Advertisement
          </h4>
        </div>
        <form id="add-advert-form" onsubmit="addAdvert(event)">
          <div class="row justify-content-center">
            <div class="col-md-4 mb-3">
              <label for="Cost_Bid" class="form-label">Starting Bid</label>
              <input type="number" min="0" class="form-control" name="Cost" id="Cost_Bid" placeholder="Enter Cost">
            </div>
            <button type="submit" class="btn btn-primary block ">Add Advertisement</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  function addAdvert(event) {
    event.preventDefault();
    let advertFormData = new FormData(event.target);
    var object = {}
    advertFormData.forEach(function(value, key) {
      object[key] = value;
    });
    object['Item_Id'] = document.getElementById('itemid').value;
    console.log(...advertFormData);
    console.log(object);
    fetch('/api/item/add_advert', {
      method: 'POST',
      headers: {
        'Content-Type': "application/json"
      },
      body: JSON.stringify(object)
    }).then(function(response) {
      return response.json();
    }).then(function(response) {
      console.log(response);
      if (response.message == "success") {
        alert('Advertisement added successfully');
        // may redirect to items page
        location = location;
      } else {
        alert('Advertisement addition failed');
      }
    }).catch(function(error) {
      console.log(error);
    })
  }
</script>