<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <title>NFT</title>

</head>

<body>
    <div class="body">
        <div class="content">
            <h1>WELCOME!</h1>
            <h5> Thiss gis a Non Profit Organisation</h5>
            <p> The aim of the organisation is to provide education to poor students</p>
        </div>
        <h3> SELECT ANYONE:</h3>
        <div class="option">
            <button type="button" onClick="document.location ='manager-login'">MANAGER</button>
            <button type="button" onClick="document.location = 'staff-login'">STAFF MEMBER</button>
            <button type="button" onClick="document.location = 'donor-login'">DONOR</button>

        </div>

    </div>
</body>

</html>