{% extends 'base.html' %} {% block content %}
<style>
  .navbar, .dropdown-menu {
    background: transparent !important;
  }
  
  #searchbtn {
    background: transparent !important;
    border-color: #ffffff;
    color: #ffffff;
  }
  
  input,
  textarea {
    background-color: #f4fadf !important;
    color: #000000 !important;
  }
  
  .nav-link {
    color: #ffffff !important;
  }

  .myitems-title, .wishlist-title{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    text-align: center;
    font: apple;
    font-size: 2.5rem;
    font-weight: semi-bold;
    color: #ffffff;
  }
  
  .no-item-messg
  {
    text-align: center;
    font: apple;
    font-size: 1.5rem;
    font-weight: semi-bold;
    color: rgba(255,255,255,0.5);
  }
  
</style>
<div class="index-container">

  {% if request.endpoint == 'index' %}
  <div class="title">
    <p class="t1">Bored</p>
    <p class="t2">Apes Yatch</p>
    <p class="t3">Club</p>
  </div>
  <div class="trending">
    <h1>Join the club!</h1>
  </div>
  {% endif %}
  {% if request.endpoint == 'myitems' %}
  <h1 class="myitems-title">Your Items</h1>
  {% endif %}
  {% if request.endpoint == 'wishlist' %}
  <h1 class="wishlist-title">Your Wishlist</h1>
  {% endif %}

  <div class="trending cards-container row row-cols-1 row-cols-md-3 g-4">
    {% for item in g.items %}
    <div class="col">
      <div class="card rounded-3">
        <img src="/api/item/image/{{item.ImageId}}" class="card-img-top img-fluid ratio ratio-1x1" alt="Image">
        <div class="card-body">
          <a href="/item/{{item.Item_Id}}">
            <h5 class="card-title">{{item.Name}}</h5>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  {% if g.items == [] %}
  <h2 class="no-item-messg">No items found!</h2>
  {% endif %}

</div>
{% endblock %}