{% extends 'base.html' %} {% block content %}
<div class="itempage-container container">
  <div class="row g-4">
    <div class="col-md-4">
      <div class="card rounded-4">
        <img src="/api/item/image/{{g.images[0]}}" class="card-img-top img-fluid ratio ratio-1x1" alt="Image">
        <div class="extras">
          {% if g.item.Average_Rating %}
          <div class="avg-rating">
            Average Rating {{ g.item.Average_Rating|round(1, 'ceil')}} / 5
          </div>
          {% endif %}
          <div class="lik-count"> Liked by {{ g.wishlistCnt}} user(s) </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 g-4 details-container">
      <div class="row">
        <div class="details">
          <div class="owned-by">
            <div class="headline">Owner</div>
            <div class="owner-name">Name : {{g.item.UserName}}</div>
            <div class="owner-email">Email : {{g.item.Email_Id}}</div>
          </div>
          <div class="description">
            <div class="headline">Description</div>
            <div class="description-text">{{g.item.Description}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-around" style="padding-top: 1.5em; padding-bottom: 1.5em;">
    {% if g.canAddAdvert %}
    <div class="col-md-3 p-2">
      <button type="button" class="btn btn-primary itempage-btn" data-bs-toggle="collapse" data-bs-target="#add-advert"
        aria-expanded="false" aria-controls="add-advert">
        Add Advertisement
      </button>
    </div>
    {% endif %} {% if g.bids|length > 0 %}
    <div class="col-md-3 p-2">
      <button type="button" class="btn btn-primary itempage-btn" data-bs-toggle="collapse" data-bs-target="#bid-table"
        aria-expanded="false" aria-controls="bid-table">
        Show Biddings
      </button>
    </div>
    {% endif %} {% if g.bids|length > 0 %}
    <div class="col-md-3 p-2">
      <button type="button" class="btn btn-primary itempage-btn" data-bs-toggle="collapse" data-bs-target="#add-bid"
        aria-expanded="false" aria-controls="add-bid">
        Place a bid
      </button>
    </div>
    {% endif %} {% if g.transactions|length > 0 %}
    <div class="col-md-3 p-2">
      <button type="button" class="btn btn-primary itempage-btn" data-bs-toggle="collapse" data-bs-target="#show-transactions"
        aria-expanded="false" aria-controls="show-transactions">
        Show Transactions
      </button>
    </div>
    {% endif %} {% if g.canSell %}
    <div class="col-md-3 p-2">
      <button type="button" class="btn btn-primary itempage-btn" onclick="handleSell(event)">
        Sell
      </button>
    </div>
    {% endif %}

    <div class="col-md-3 p-2">
      {% if g.isWishlist %}
      <button type="button" class="btn btn btn-danger itempage-btn" onclick="toggleWishList(event)">
        <i class="fa fa-solid fa-heart"></i>Wishlisted
        {% else %}
        <button type="button" class="btn btn btn-outline-danger itempage-btn" onclick="toggleWishList(event)">
          <i class="fa fa-solid fa-heart"></i> Add to Wishlist {% endif %}
        </button>
    </div>
  </div>
  <div class="row">
    {% if g.bids|length > 0 %}
    <div class="col-12">
      <div class="collapse" id="bid-table">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Bid Id</th>
              <th scope="col">Bidder Name</th>
              <th scope="col">Bidder Email</th>
              <th scope="col">Date Of Bid</th>
              <th scope="col">Bid Amount</th>
            </tr>
          </thead>
          <tbody>
            {% for bidDetails in g.bids %}
            <tr>
              <th scope="row">{{bidDetails.Bid_Id}}</th>
              <td>{{bidDetails.BidderName}}</td>
              <td>{{bidDetails.Bidder_Id}}</td>
              <td>{{bidDetails.Date|formatdatetime}}</td>
              <td>{{bidDetails.Cost}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% endif %} {% if g.bids|length > 0 %}
    <div class="col-12">
      <div class="collapse" id="add-bid">
        {% include 'addbid.html' %}
      </div>
    </div>
    {% endif %} {% if g.transactions|length > 0 %}
    <div class="col-12">
      <div class="collapse" id="show-transactions">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Transaction Id</th>
              <th scope="col">Buyer Name</th>
              <th scope="col">Buyer Id</th>
              <th scope="col">Seller Name</th>
              <th scope="col">Seller Id</th>
              <th scope="col">Date Of Transaction</th>
              <th scope="col">Transaction Amount</th>
            </tr>
          </thead>
          <tbody>
            {% for transaction in g.transactions %}
            <tr>
              <th scope="row">{{transaction.Transaction_ID}}</th>
              <td>{{transaction.BuyerName}}</td>
              <td>{{transaction.BuyerEmail_Id}}</td>
              <td>{{transaction.SellerName}}</td>
              <td>{{transaction.SellerEmail_Id}}</td>
              <td>{{transaction.Date|formatdatetime}}</td>
              <td>{{transaction.Cost}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% endif %} {% if g.canAddAdvert %}
    <div class="col-12">
      <div class="collapse" id="add-advert">
        {% include 'addadvert.html' %}
      </div>
    </div>
    {% endif %}

  </div>
  <div class="row">
    {% include 'review.html' %}
  </div>
</div>
<script>
  function toggleWishList(event) {
    console.log(event);
    let dataJson = {
      'Item_Id': document.getElementById('itemid').value,
    }
    fetch('/api/item/toggleWishlist/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(dataJson)
    }).then(function (response) {
      return response.json();
    }).then(function (response) {
      console.log(response);
      if (response.message == "success") {
        location = location;
      } else {
        // add login check
        alert(JSON.stringify(response));
      }
    }).catch(function (error) {
      console.log(error);
    })
  }

  function handleSell(event) {
    if (confirm('Are you sure you want to Sell the item?')) {
      fetch('/api/item/sell/', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          AdvertisementId: document.getElementById('AdvertisementId').value,
          Item_Id: document.getElementById('itemid').value,
        })
      }).then(function (response) {
        return response.json();
      }).then(function (response) {
        if (response.message == "success") {
          alert('Transaction Completed');
          location = location;
        } else {
          alert(JSON.stringify(response))
        }
      })
    }
  }
</script>
{% endblock content %}